.button
    color: white
    background: #3D9AD1
    &:hover
        background: #00a2ff
.button.add-btn, .edit-btn
    color: white
    background: #3D9AD1
    &:hover
        background: #00a2ff
        transform: scale(1.05)

