.form-buttons
    display: flex
    justify-content: center
    align-items: center
    margin-top:10px

    .button.blue-button.auth-btn
        min-width: 200px
        min-height: 35px
        &:hover
            transform: scale(1.05)
