.form-buttons
    display: flex
    justify-content: center
    align-items: center
    margin-top:10px

    .button.blue-button.auth-btn
        color: white
        background: #3D9AD1
        min-width: 200px
        min-height: 35px
        &:hover
            background: #00a2ff
            transform: scale(1.05)
