.button.add
    background: #3D9AD1
    &:hover
        background: #00a2ff
.button.edit
    background: #3D9AD1
    &:hover
        background: #00a2ff
        transform: scale(1.05)
.button.search
    background: #3D9AD1
    &:hover
        background: #00a2ff
.button.trash
    background: #FE3F44
    &:hover
        background: #ff0008
        transform: scale(1.05)
span.goto
    background: #3D9AD1
