.table-box
    padding: 5px 15px
    .top-side-box
        position: flex
        display: flex
        padding: 10px 0
        justify-content: space-between
        .action-box
            display: flex
            align-items: center
            gap: 5px
        .search-box
            display: flex
            align-items: center
            gap: 5px

    .table-content-box
        .ant-table-container
            table
                border-collapse: collapse
                outline: 1px solid #aaa
                overflow: hidden
                border-radius: 7px
                tr
                    &:last-child td
                        border-bottom: none
                    td
                        border-right: 1px solid #eee
                        border-bottom: 1px solid #aaa
                        padding: 10px 15px
                        &::after
                            position: absolute
                            top: 100%
                            left: 0
                            width: 100%
                            height: 0

                            content: ''
                            background: rgba(170, 170, 170, 0.3)
                            backdrop-filter: blur(4px)
                            transition: .5s
                    &:hover 
                        td::after
                            height: 2px
                    