.table-box .table-content
    border-radius: 7px
    overflow: hidden
    border: var(--table-cell-border)
    table
        width: 100%
        border-radius: inherit

        border-collapse: collapse
