.table-box .table-content table thead
    tr
        th
            padding: 15px 10px
            background: var(--table-header-background)
            font-size: .9rem
            text-align: left
