@use '../../abstracts' as *

.ant-modal-wrap
    .ant-modal
        margin: 0 auto
        .ant-modal-content
            box-shadow: 2px 2px 32px 8px #777
            .ant-modal-footer
                .button
                    margin-left: 10px
                    display: inline
                    @include button-scale

