header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1rem
    width: 100%
    background: #3D9AD1
    height: 70px
    .logo
        padding-left: 100px
        margin: 0
        font-size: 1.5rem
        color: #202020
    .user
        padding-right: 100px
        margin-left: auto
        font-size: 1rem
        color: #ffffff
