.list
    .ant-list
        border: 1px solid #ddd
        border-radius: 7px

        &-header
            font-size: 1rem
            font-weight: 600
            padding: 16px 20px
            border-bottom: 1px solid #eee
            background-color: #f9f9f9
            cursor: default

        &-items
            list-style: none
            margin: 0
            padding: 0

            .ant-list-item
                display: flex
                align-items: center
                justify-content: space-between
                padding: 10px 15px
                border-bottom: 1px solid #eee
                transition: background-color 0.2s ease

                &:hover
                    background-color: #f5faff
                &:last-child
                    border-bottom: none

        &-footer
            padding: 10px 5px
