.form-container.vertical-form
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    form
        background: #ffffff
        min-width: 500px
        max-width: 550px

        border-radius: 15px

        display: flex
        flex-direction: column
        gap: 10px

        .form-header
            text-align: center

            padding-bottom: 20px

            color: var(--text-color)
            font-weight: bold
            font-size: 23px

        .form-params
            display: none

        .form-content
            display: flex
            flex-direction: column
            gap: 7px
            .form-group
                display: flex
                flex-direction: column
                gap: 5px
                color: var(--text-color)
                label
                    display: block
                    font-weight: 500
                    color: var(--text-color)

    .auth-form
        padding: 20px 20px

        margin-bottom: 250px
        box-shadow: 4px 4px 32px 16px #eee
