.form-container.vertical-form
    display: flex
    justify-content: center
    align-items: center

    form
        min-width: 550px
        padding: 25px
        border-radius: 15px
        box-shadow: 4px 4px 8px 12px #eee

        display: flex
        flex-direction: column
        gap: 10px

        .form-header
            text-align: center

            color: var(--text-color)
            font-weight: bold

        .form-params
            display: none

        .form-content
            display: flex
            flex-direction: column
            gap: 5px


