.editable-item
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

    .left
        min-width: 0
        flex-grow: 1
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        margin-right: 20px

        .label-input
            font-size: 0.95rem
            user-select: none
